@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Paytone One", sans-serif;
    --primary-color: #749EB2;
    --secondary-color: #E9DAC4;
    --text-color: #0F1035;
    --text2-color: #0f1035c4;
    --section-font-size: 2.5rem;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    padding: 80px 18%;
}

/* header section styles */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 18%;
    /* background: rgba(0, 0, 0, 0.065); */
    filter: blur(100%);
    transition: 0.4s ease;
}
.logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--bg-color);
    letter-spacing: 1px;
}
.logo a span{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 500;
}
.nav-icon {
    display: none;
    font-size: 30px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
}
.navbar {
    display: flex;
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 5px;
    transition: 0.4s ease;
}
.navbar a:hover {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}
.nav-button a {
    display: inline-block;
    color: var(--bg-color );
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 10px 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: all 0.4s ease;
}
.nav-button a:hover {
    background-color: #8fa5af;
    transform: translateY(-3px);
}

/* home section styles */
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/banner.jpg");
    background-color: rgba(0, 0, 0, 0.404);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.home-content h1 {
    font-family: var(--secondary-font);
    font-size: 5rem;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: var(--bg-color);
    margin-bottom: 20px;
}
.home-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #ffffffbf;
    margin-bottom: 50px;
}
.home-btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 30px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s ease;
}
.home-btn:hover{
    background-color: var(--secondary-color);
    transform: translateX(3px);
}

/* vehicle section styles */
.vehicle-content h2{
    font-size: var(--section-font-size);
    line-height: 1.2;
}
.vehicle-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.vehicle-box{
    background-color: var(--bg-color);
    border: 1px solid #f0eded;
    padding: 50px 10px;
    border-radius: 5px;
    transition: all 1s ease 0s;
    cursor: pointer;
}
.vehicle-box:hover{
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}
.vehicle-img{
    width: 35%;
    margin: 0 auto;
}
.vehicle-img img{
    width: 100%;
    padding: 15px;
    background: var(--bg-color);
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgba(85, 85, 85, 15%);
    margin-bottom: 15px;
    cursor: pointer;
}
.vehicle-box h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.vehicle-box p {
    font-size: 15px;
    color: #0f1035c4;
}

/* popular section styles */
.title{
    text-align: center;
}
.title h2 {
    font-size: var(--section-font-size);
    line-height: 1.2;
}
.package-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.package-img{
    position: relative;
    transition: all 0.3s cubic-bezier(.445, .05, .55, .95);
    will-change: filter;
    cursor: pointer;
}
.package-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.package-img h3 {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: var(--bg-color);
    text-align: right;
    top: 36px;
    right: 40px;
}
.dest-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}
.stars i {
    font-size: 20px;
    color: var(--primary-color);
}
.location h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.location p {
    font-size: 15px;
    color: var(--text2-color);
}
.package-img:hover{
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.04);
}

/* destination section styles */
.destination-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.col-content{
    position: relative;
}
.col-content img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all 0.3s cubic-bezier(.445, .05, .55, .95);
    will-change: filter;
}
.col-content h5{
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: var(--bg-color);
    left: 15px;
    bottom: 60px;
}
.col-content p{
    position: absolute;
    font-size: 15px;
    color: var(--bg-color);
    left: 15px;
    bottom: 30px;
    letter-spacing: 2px;
}
.col-content img:hover{
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.04);
    cursor: pointer;
}

/* newslater section styles */
.newslater{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: 3rem;
}
.news-text h2{
    font-size: var(--section-font-size);
    margin-bottom: 5px;
}
.news-text p{
    font-size: 1rem;
    color: var(--text2-color);
    line-height: 30px;
}
.newslater form{
    max-width: 100%;
    width: 450px;
    position: relative;
}
.newslater form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 20px 150px 20px 30px;
    box-shadow: 5px 30px 56.1276px rgb(85 85 85 / 20%);
    outline: none;
    border: none;
    border-radius: 15px;
}
.newslater form input:last-child {
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    top: 6px;
    right: 6px;
}

/* footer section styles */
footer{
    padding: 80px 18%;
    background: var(--primary-color);
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-text{
    margin-bottom: 20px;
}
.footer-text h4{
    font-size: 1.25rem;
    color: var(--text-color);
}
.footer-text p {
    font-size: 15px;
}

.social-link i{
    font-size: 1.25rem;
    color: var(--text-color);
    padding: 5px;
}
.copyright{
    margin-top: 20px;
}
.copyright small span{
    color: var(--text-color);
    font-weight: 600;
}